/src/tutorials/*
/src/3d_data/*
/src/archived_test_data/*
/src/data/*
/src/detectionAnalysis/*
/src/sessions/*

x3dom-1.7.0/*

kalman.cpp

output.txt

timed.txt

motiontracking.cpp

animate.py

cheat.txt

reduced_trajectories.txt

kalman_points.txt

data_trajectories.txt
data_out.txt
data_temp.txt
data_sim.txt
data_detections.txt

*.pyc

*.gif

*.mp4

*.mkv

*.mov

*.jpg

*.png

*.avi

src/data_trajectories_subset.txt

res

*.pdf
