/src/tutorials/*

kalman.cpp

output.txt

timed.txt

motiontracking.cpp

animate.py

cheat.txt

reduced_trajectories.txt

kalman_points.txt

data_*.txt

*.pyc

*.gif

*.mp4

*.mov

*.jpg

*.png

*.avi
